<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="utf-8">
  <title>vueplugin2</title>
  <script src="../../node_modules/vue/dist/vue.js"></script>
  <script src="../../dist/vueplugins.js"></script>
</head>

<body>
  <div id="app" style="height: 100%;width: 100%;">
    <ll-collapse v-model="activeName" accordion>
      <ll-collapse-item title="一致性 Consistency" name="1" style="height:100%;">
        <ll-button type="primary" size="mini" @click="setRowReadonly" >主要按钮</ll-button>
        <ll-table-zz ref="tablezz" :data-wrap="dataWrap" style="height:500px;" 
          @span-method="spanMethod"
          @current-change="currentChange" @cell-click="testCellClick" :readonly="false">
          <ll-table-column type="selection" width="55">
          </ll-table-column>
          <ll-table-column-zz type="switch" prop="enable1" label="启用" :width="80">
          </ll-table-column-zz>
          <ll-table-column-zz prop="date" type="date" label="日期" :width="180">
          </ll-table-column-zz>
          <ll-table-column-zz type="select" prop="name" label="姓名" :width="180" :items="items">
          </ll-table-column-zz>
          <ll-table-column-zz prop="address" label="地址" :width="180" :readonly="false">
          </ll-table-column-zz>
          <ll-table-column-zz :sortable="false" label="地址" :istemplate="true" :width="180">
            <template slot-scope="scope">
{{scope.row.rowId}}
            </template>
            <template slot="header" slot-scope="scope">
              <ll-input size="mini" placeholder="输入关键字搜索" />
            </template>
          </ll-table-column-zz>

        </ll-table-zz>
      </ll-collapse-item>
      <ll-collapse-item title="反馈 Feedback" name="2">
        <div>控制反馈：通过界面样式和交互动效让用户可以清晰的感知自己的操作；</div>
        <div>页面反馈：操作后，通过页面元素的变化清晰地展现当前状态。</div>
      </ll-collapse-item>
      <ll-collapse-item title="效率 Efficiency" name="3">
        <div>简化流程：设计简洁直观的操作流程；</div>
        <div>清晰明确：语言表达清晰且表意明确，让用户快速理解进而作出决策；</div>
        <div>帮助用户识别：界面简单直白，让用户快速识别而非回忆，减少用户记忆负担。</div>
      </ll-collapse-item>
      <ll-collapse-item title="可控 Controllability" name="4">
        <div>用户决策：根据场景可给予用户操作建议或安全提示，但不能代替用户进行决策；</div>
        <div>结果可控：用户可以自由的进行操作，包括撤销、回退和终止当前操作等。</div>
      </ll-collapse-item>
    </ll-collapse>
  </div>
</body>
<script type="text/javascript">
  var readonly=true;
  var vm = new Vue({
    el: '#app',
    data: {
      activeName: "1",
      inputColumn1: "",
      datasource: "http://localhost:8083/web/sys/menu-tree/menus",
      labelDatasource: "http://localhost:8083/web/sys/menu/label",
      dataWrap: {
        dataList: [{
            rowId:1,
            enable1:"1",
            date: "2016-05-02",
            name: "选项1",
            address: "上海市普陀区金沙江路 1518 弄",
            editFlag: false
          },
          {
            rowId:2,
            enable1:"0",
            date: "2016-05-01",
            name: "选项1",
            address: "上海市普陀区金沙江路 1519 弄",
            editFlag: true
          },
          {
            rowId:3,
            enable1:"1",
            date: "2016-05-03",
            name: "选项2",
            address: "上海市普陀区金沙江路 1516 弄",
            editFlag: true
          },
          {
            rowId:4,
            enable1:"0",
            date: "2016-05-04",
            name: "选项3",
            address: "上海市普陀区金沙江路 1517 弄",
            editFlag: true
          },
        ],
        pageInfo: {
          currentPageNum: 1,
          totalElementCount: 1000,
          pageSize: 20
        }
      },
      items: [
        {
          value: "选项1",
          label: "黄金糕"
        },
        {
          value: "选项2",
          label: "双皮奶"
        },
        {
          value: "选项3",
          label: "蚵仔煎"
        },
        {
          value: "选项4",
          label: "龙须面"
        },
        {
          value: "选项5",
          label: "北京烤鸭"
        }
      ],
    },
    methods: {
      spanMethod(obj){
        //console.log("-----spanmethod")
        //console.log(obj)
      },
      currentChange() {
        // console.log(this.dataWrap);
      },
      handleEdit: function (row, refIndex) {
        // console.log(row)
        // this.$set(row, "editFlag", true);
        // setTimeout(() => {
        //   this.$refs.llHiddenInput.focus();
        // }, 300);
      },
      handleSave: function (row) {
        // console.log(row)
        // this.$set(row, "editFlag", false);
      },
      testCellClick() {
        // alert("testCellClick")
      },
      setRowReadonly(){
        if(readonly)
          readonly=false;
        else
          readonly=true;
          // console.log(readonly);
        this.$refs["tablezz"].setRowReadonly(this.dataWrap.dataList[0],"address",readonly);
      }
    }
  })
</script>

</html>
