<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="utf-8">
  <title>vueplugin2</title>
  <script src="../../node_modules/vue/dist/vue.js"></script>
  <script src="../../dist/vueplugins.js"></script>
</head>

<body>
  <div id="app" style="height: 100%;width: 100%;">
    <ll-container style="height: 100%; ">
      <ll-header height="40">
          <ll-form :status-icon="true" ref="ruleForm" label-width="100px" style="width:100%">
            <ll-col :span="8">
              <ll-form-item label="活动名称" prop="name">
                <ll-input></ll-input>
              </ll-form-item>
            </ll-col>
            <ll-col :span="8">
                <ll-form-item >
                    <ll-button type="primary" size="mini" @click="testAlertMessage" >主要按钮</ll-button>
                </ll-form-item>
            </ll-col>
          </ll-form>
        </ll-card>
      </ll-header>
      <ll-container style="height: 100%; ">
        <ll-main style="padding: 0 0 0 0px;" style="height: 100%; ">
          <ll-card class="box-card" style="height:100%;">
            <div slot="header" class="clearfix">
              <ll-row>
                <ll-col :span="18">
                  <span class="ll-main-title">菜单列表&nbsp;&nbsp;&nbsp;&nbsp;</span>
                  <ll-button type="primary" icon="el-icon-plus" class="ll-button-micro" circle size="mini"></ll-button>
                  <ll-button type="danger" icon="el-icon-delete" class="ll-button-micro" circle size="mini"></ll-button>
                </ll-col>
              </ll-row>
            </div>
            <ll-table-zz :data-wrap="dataWrap" @current-change="currentChange" 
              @cell-click="testCellClick">
              <ll-table-column type="selection" width="55">
              </ll-table-column>
              <ll-table-column-zz prop="date" type="date" label="日期" :width="180">
              </ll-table-column-zz>
              <ll-table-column-zz type="select" prop="name" label="姓名" :width="180">
              </ll-table-column-zz>
              <ll-table-column-zz type="tree" prop="name" label="姓名" :width="180">
              </ll-table-column-zz>
              <ll-table-column-zz prop="address" label="地址" :width="180">
              </ll-table-column-zz>
              <ll-table-column-zz :sortable="false" label="地址" :istemplate="true" :width="180">
                <template slot-scope="scope">
                </template>
                <template slot="header" slot-scope="scope">
                  <ll-input size="mini" placeholder="输入关键字搜索" />
                </template>
              </ll-table-column-zz>
            </ll-table-zz>
          </ll-card>
        </ll-main>
      </ll-container>
    </ll-container>
  </div>
</body>
<script type="text/javascript">
  new Vue({
    el: '#app',
    data: {
      inputColumn1: "",
      dataWrap: null,
      dataWrap2: {
        dataList: [{
            date: "2016-05-02",
            name: "王小虎1",
            address: "上海市普陀区金沙江路 1518 弄",
            editFlag: false
          },
          {
            date: "2016-05-01",
            name: "王小虎",
            address: "上海市普陀区金沙江路 1519 弄",
            editFlag: true
          },
          {
            date: "2016-05-03",
            name: "王小虎",
            address: "上海市普陀区金沙江路 1516 弄",
            editFlag: true
          },
          {
            date: "2016-05-04",
            name: "王小虎",
            address: "上海市普陀区金沙江路 1517 弄",
            editFlag: true
          },
        ],
        pageInfo: {
          currentPageNum: 1,
          totalElementCount: 1000,
          pageSize: 20
        }
      },
      tableData: [{
          date: "2016-05-02",
          name: "王小虎1",
          address: "上海市普陀区金沙江路 1518 弄",
          editFlag: true
        },
        {
          date: "2016-05-01",
          name: "王小虎",
          address: "上海市普陀区金沙江路 1519 弄",
          editFlag: true
        },
        {
          date: "2016-05-03",
          name: "王小虎",
          address: "上海市普陀区金沙江路 1516 弄",
          editFlag: true
        },
        {
          date: "2016-05-04",
          name: "王小虎",
          address: "上海市普陀区金沙江路 1517 弄",
          editFlag: true
        },
      ],
    },
    methods: {
      currentChange() {
        // console.log(this.dataWrap);
      },
      handleEdit: function (row, refIndex) {
        // console.log(row)
        // this.$set(row, "editFlag", true);
        // setTimeout(() => {
        //   this.$refs.llHiddenInput.focus();
        // }, 300);
      },
      handleSave: function (row) {
        // console.log(row)
        // this.$set(row, "editFlag", false);
      },
      testCellClick() {
        // alert("testCellClick")
      },
      testAlertMessage(){
        this.$alert('这是一条消息提示2',{});
      }
    }
  })
</script>

</html>
