<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="utf-8">
  <title>vueplugin2</title>
  <script src="../../node_modules/vue/dist/vue.js"></script>
  <script src="../../dist/vueplugins.js"></script>
  </link>
</head>

<body>
  <div id="app" style="height: 100%;width: 100%;">
    <ll-card class="box-card" style="height:100%;">
      <div slot="header" class="clearfix">
        <span class="ll-main-title">查询条件</span>
      </div>
      <ll-tree-zz ref="tree"  :props="defaultProps" show-checkbox :datasource="datasource" accordion @node-click="handleNodeClick">
        <span slot-scope="scope" style=" flex: 1; display: flex; align-items: center; justify-content: space-between; padding-right: 8px;">
            <span >{{ scope.node.label }}</span>
            <span >
                <ll-checkbox-group v-model="checkList"  @change="groupChange(scope.data)">
                    <ll-checkbox label="读"></ll-checkbox>
                    <ll-checkbox label="写"></ll-checkbox>
                </ll-checkbox-group>
            </span>
        </span>
      </ll-tree-zz>
    </ll-card>
  </div>
</body>
<script type="text/javascript">
  var vm = new Vue({
    el: '#app',
    data: {
      datasource: "http://localhost:8083/web/sys/menu-tree/menus",
      data: null,
      defaultProps: {
        children: 'children',
        label: 'name',
        isLeaf: 'isLeaf'
      },
      checkList:[],
      updateList:[]
    },
    methods: {
      handleNodeClick:function(nodeData, node) {

      },
			groupChange:function(a,b,c){
        console.log(a)
				var item = this.$_.find(this.updateList,function(){
					return item.code==a.code;
				})
				if(this.$_.isUndefined(item)){
					this.updateList.push(a);
				}else{
					item = a;
				}
				
			}
    }
  })

</script>

<style>
  .el-tree-node__label .el-checkbox-group{
    display:inline-block;
  }
</style>
</html>
