<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="utf-8">
  <title>vueplugin2</title>
  <script src="../../node_modules/vue/dist/vue.js"></script>
  <script src="../../dist/vueplugins.js"></script>
  </link>
</head>

<body>
  <div id="app" style="height: 100%;width: 100%;">
    <ll-card class="box-card"  style="height:100%;">
      <div slot="header" class="clearfix">
        <span class="ll-main-title">查询条件</span>
      </div>
      <ll-tree-zz :items="data" :props="defaultProps" :datasource="datasource" accordion @node-click="handleNodeClick">
      </ll-tree-zz>
    </ll-card>
  </div>
</body>
<script type="text/javascript">
  var vm = new Vue({
    el: '#app',
    data: {
      datasource: "http://localhost:8083/web/sys/menu-tree/menus",
      data: [{
        name: '菜单树',
      }],
      defaultProps: {
        children: 'children',
        label: 'name',
        isLeaf: 'isLeaf'
      }
    },
    methods: {
      handleNodeClick(nodeData, node) {
        
      }
    }
  })

</script>

</html>
