<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <template th:replace="/base.html"></template>
</head>

<body>
    <div id="app" style="height: 100%;width: 100%;" v-cloak>
        <ll-container style="height: 100%; ">
            <ll-main style="padding: 0 0 0 0px;" style="height: 100%; ">
                <ll-tree-zz ref="tree" :props="defaultProps" :datasource="datasource" accordion show-checkbox>
                    <span slot-scope="{ node, data }" class="custome_tree_node">
                        <span>{{ node.label }}</span>
                        <span>
	                        <span>
	                            <ll-checkbox-group v-model="data.prop6" @change="groupChange(data)">
	                                <ll-checkbox label="1" :key="1">读</ll-checkbox>
	                                <ll-checkbox label="2" :key="2">写</ll-checkbox>
	                            </ll-checkbox-group>
	                        </span>
                        </span>
                    </span>
                </ll-tree-zz>
            </ll-main>
            <ll-footer>
                <ll-form id="ajaxform" cols="1" label-width="100px">
                    <ll-form-item>
                        <ll-button type="primary" @click="save">保存</ll-button>
                        <ll-button type="text" @click="reset">重置</ll-button>
                    </ll-form-item>
                </ll-form>
            </ll-footer>
        </ll-container>
    </div>
</body>
<script type="text/javascript">
    var dataWrap = ajaxResponse.get("dataWrap");
	var roleId = ajaxResponse.get("roleId");
    var vm = new Vue({
        el: '#app',
        data: {
            datasource: $$pageContextPath + "sys/menu-tree/menus",
            defaultProps: {
                children: 'children',
                label: 'name',
                isLeaf: 'isLeaf'
            },
            updateList:[]
        },
        methods: {
			save:function(){
				var dataWrap=$.createAjaxDataWrap();
            	dataWrap.setDataList(this.updateList);
                $.request({
                    url: $$pageContextPath + "sys/role/"+roleId+"save",
                    data: {
                    	dataWrap:dataWrap
                    },
                    success: function (response) {
                        var dataWrap = response.get("dataWrap");
                        if (dataWrap == null || dataWrap.dataList == null || dataWrap.dataList.length ==
                            0)
                            vm.$alert("未查询到任何数据!");
                        vm.$set(vm.$data, "dataWrap", dataWrap);
                    }
                });
			},
			reset:function(){
				
			},
			groupChange(data,b,c){
				console.log(data);
				console.log(this.updateList)
				var index = this.$_.findIndex(this.updateList,function(i){
					return i.menuId==data.code;
				})
				if(index==-1){
					this.updateList.push({
						menuId:data.code,
						roleId:roleId,
						roleNum:_.reduce(data.prop6, function(memo, num){ return memo + num; }, 0)
					});
				}else{
					this.updateList[index] = {
						menuId:data.code,
						roleId:roleId,
						roleNum:_.reduce(data.prop6, function(memo, num){ return memo + num; }, 0)
					};
				}
				 
			}
        }
    });
</script>
<style>
    .custome_tree_node {
        flex: 1;
        display: flex;
        align-items: center;
        font-size: 14px;
        justify-content: space-between;
        padding-right: 8px;
    }
</style>

</html>