<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <template th:replace="/base.html"></template>
</head>

<body>
    <div id="app" style="height: 100%;width: 100%;" v-cloak>
        <ll-container style="height: 100%; ">
            <ll-main style="padding: 0 0 0 0px;" style="height: 100%; ">
                <ll-tree-zz ref="tree" :props="defaultProps" :datasource="datasource" accordion show-checkbox>
                    <span slot-scope="{ node, data }" class="custome_tree_node">
                        <span>{{ node.label }}</span>
                        <span>
	                        <span>
	                            <ll-checkbox-group ref="checkBoxGroup" v-model="data.prop6" @change="groupChange(data)">
	                                <ll-checkbox :label="'1'" :key="data.code+'1'">读</ll-checkbox>
	                                <ll-checkbox :label="'2'" :key="data.code+'2'">写</ll-checkbox>
	                            </ll-checkbox-group>
	                        </span>
                        </span>
                    </span>
                </ll-tree-zz>
            </ll-main>
            <ll-footer>
                <ll-form id="ajaxform" cols="1" label-width="100px">
                    <ll-form-item>
                        <ll-button type="primary" @click="save">保存</ll-button>
                        <ll-button type="text" @click="canc">取消</ll-button>
                    </ll-form-item>
                </ll-form>
            </ll-footer>
        </ll-container>
    </div>
</body>
<script type="text/javascript">
    var dataWrap = ajaxResponse.get("dataWrap");
	var roleId = ajaxResponse.get("roleId");
    var vm = new Vue({
        el: '#app',
        data: {
            datasource: $$pageContextPath + "sys/menu-tree/menu-role?roleId="+roleId,
            defaultProps: {
                children: 'children',
                label: 'name',
                isLeaf: 'isLeaf'
            },
            updateList:[]
        },
        methods: {
			save:function(){
				var dataWrap=$.createAjaxDataWrap();
            	dataWrap.setDataList(this.updateList);
                $.request({
                    url: $$pageContextPath + "sys/role/"+roleId+"/binding",
                    data: {
                    	dataWrap:dataWrap
                    },
                    success: function (response) {
                       if(response==true){
                    	   $.success("保存成功");
                    	   $.close();
                       }
                       else
                    	   $.error("绑定失败");
                    }
                });
			},
			canc:function(){

         	   $.close();
			},
			groupChange(data,b,c){
				var menuRole = data.nodeBean;
				var newMenuRole;
				newMenuRole={
					id:menuRole.id,
					menuId:data.code,
					roleId:roleId,
					permission:_.reduce(data.prop6, function(memo, num){ return vm.$_.toNumber(memo) + vm.$_.toNumber(num); }, 0)
				}
				var index = this.$_.findIndex(this.updateList,function(i){
					return i.menuId == data.code;
				})
				if(index==-1){
					this.updateList.push(newMenuRole);
				}
				else{
					this.updateList[index] = newMenuRole;
				}
			}
        }
    });
</script>
<style>
    .custome_tree_node {
        flex: 1;
        display: flex;
        align-items: center;
        font-size: 14px;
        justify-content: space-between;
        padding-right: 8px;
    }
</style>

</html>