<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <template th:replace="/base.html"></template>
</head>

<body>
    <div id="app" style="height: 100%;width: 100%;">
        <ll-container style="height: 100%; ">
            <ll-header style="background-color:#eee;">
            	<ll-radio-group v-model="isCollapse" style="margin-bottom: 20px;">
		          <ll-radio-button :label="false">展开</ll-radio-button>
		          <ll-radio-button :label="true">收起</ll-radio-button>
		        </ll-radio-group>
            </ll-header>
            <ll-container>
                <ll-aside :width="style.asideWidth"  style="background-color:#272b2e">
                    <ll-menu-zz :items="items" @select="menuSelect" :props="menuProp" style="width: 199px;"
                         :collapse="isCollapse" :style="{width: style.asideWidth}" background-color="#272b2e" text-color="#fff"></ll-menu-zz>
                </ll-aside>
                <ll-main style="padding: 0 0 0 0px;">
                    <ll-tabs v-model="activeTab" type="card" class="ll-tabs" @edit="handleTabsEdit">
                        <ll-tab-pane name="首页" :closable="false" style="height: 100%;overflow: auto;">
                            <span slot="label"><i class="fa fa-home fa-fw"></i>首页</span>
                        </ll-tab-pane>
                        <ll-tab-pane :key="item.name" v-for="(item, index) in tabs" :label="item.title" :name="item.name"
                            :closable="item.closable==null?false:item.closable" style="height: 100%;overflow: auto;">
                            <iframe :src="pageContextPath+item.link" style="height: 100%;width: 100%;display:block"
                                frameborder='0'></iframe>
                        </ll-tab-pane>
                    </ll-tabs>
                </ll-main>
            </ll-container>
            <ll-footer style="height: 25px;background-color:#272b2e;color:#fff;line-height:25px;">997820126@qq.com</ll-footer>
        </ll-container>
    </div>

    <script type="text/javascript">
        var dataWrap = ajaxResponse.get("dataWrap");

        var vm = new Vue({
            el: '#app',
            methods: {
                menuSelect:function(index, indexPath, item) {
                    this.addTab({
                        name: item.name,
                        title: item.name,
                        closable: true,
                        link: item.link
                    });
                },
                addTab:function(setting) {
                    if (!this.tabs.find(a => a.name == setting.name))
                        this.tabs.push(setting);
                    this.activeTab = setting.name;
                },
                handleTabsEdit:function(targetName, action) {
                    if (action === 'add') {
                        let newTabName = ++this.tabIndex + '';
                        this.editableTabs.push({
                            title: 'New Tab',
                            name: newTabName,
                            content: 'New Tab content'
                        });
                        this.activeTab = newTabName;
                    }
                    if (action === 'remove') {
                        let tabs = this.tabs;
                        let activeName = this.activeTab;
                        if (activeName === targetName) {
                            tabs.forEach((tab, index) => {
                                if (tab.name === targetName) {
                                    let nextTab = tabs[index + 1] || tabs[index - 1];
                                    if (nextTab) {
                                        activeName = nextTab.name;
                                    }
                                }
                            });
                        }

                        this.activeTab = activeName;
                        this.tabs = tabs.filter(tab => tab.name !== targetName);
                    }
                }
            },
            data: {
                activeTab: "首页",
                pageContextPath: $$pageContextPath,
                isCollapse: false,
                menuProp: {
                    id: "menuIndex",
                    label: "name",
                    children: "childrenMenuList",
                    icon: "icon"
                },
                tabs: [],
                items: dataWrap.dataList,
                style:{
                    asideWidth:"200px"
                }
              },
              watch:{
                isCollapse(newVal, oldVal){
                  if(newVal){
                    vm.style.asideWidth="80px";
                  }
                  else{
                	  vm.style.asideWidth="200px";
                  }
                }
              }
            })
    </script>
</body>

</html>