<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="utf-8">
  <template th:replace="/base.html"></template>
</head>

<body>
  <div id="app" style="height: 100%;width: 100%;">
    <ll-container style="height: 100%; ">
        <ll-aside width="150px" >
          <ll-nav-tree :items="data" :props="defaultProps" :datasource="datasource" accordion @node-click="handleNodeClick">
    	  </ll-nav-tree>
        </ll-aside>
        <ll-container style="height: 100%; ">
        	<ll-header height="40" style="background-color:#eee;">
	        	<ll-form ref="form" :model="form" label-width="80px" :inline="true" class="demo-dynamic">
				  <ll-form-item label="菜单名称">
				    <ll-input v-model="form.name"></ll-input>
				  </ll-form-item>
				  <ll-form-item label="菜单序号">
				    <ll-input v-model="form.name"></ll-input>
				  </ll-form-item>
				  <ll-form-item label="链接名称">
				    <ll-input v-model="form.name"></ll-input> 
				  </ll-form-item>
				  <ll-form-item label="菜单名称">
				    <ll-date-picker type="date" placeholder="选择日期" ></ll-date-picker>
				  </ll-form-item>
				  <ll-form-item label="菜单序号">
				    <ll-input v-model="form.name"></ll-input>
				  </ll-form-item>
				  <ll-form-item label="链接名称">
				    <ll-input v-model="form.name"></ll-input> 
				  </ll-form-item>
				  <ll-form-item >
				  	<ll-button type="primary" >提交</ll-button>
				    <ll-button >新增域名</ll-button>
				    <ll-button >重置</ll-button>
				    <ll-button icon="el-icon-search" circle @click="retrieve"></ll-button>
				  </ll-form-item>
				 </ll-form>
			</ll-header>
	        <ll-main style="padding: 0 0 0 0px;" style="height: 100%; ">
	          	<ll-table :data="tableData" height="100%">
					<ll-table-column prop="id" label="菜单标识" :width="150"></ll-table-column>
					<ll-table-column prop="name" label="菜单名称" :width="150" ></ll-table-column>
					<ll-table-column prop="sn" label="菜单排序" :width="150"></ll-table-column>
					<ll-table-column prop="link" label="菜单链接"></ll-table-column>
				</ll-table>
	        </ll-main>
		</ll-container>
    </ll-container>
  </div>

  <script type="text/javascript">
  var dataWrap=ajaxResponse.get("dataWrap");
  
     var vm=new Vue({
      el: '#app',
      data: {
    	  tableData:[],
    	  form:{
    		  name:"123"
    	  },
    	  datasource:$$pageContextPath+"sys/menu/menu-tree/datalist",
          data: [],
          defaultProps: {
            children: 'children',
            label: 'name',
            isLeaf:'isLeaf'
          }
      },
      methods:{
    	  retrieve(){
    		  $.request({
    				url : $$pageContextPath + "sys/menu/retrieve",
    				type : "POST",
    				contentType : 'application/json;charset=UTF-8',
    				dataType : "json",
    				async : false,
    				data :{
    				},
    				success : function(response){
    					var dataWrap=response.get("dataWrap");
    					if(dataWrap==null||dataWrap.dataList==null||dataWrap.dataList.length==0)
    						alert("未查询到任何数据!");
    					vm.$set(vm.$data,"tableData",dataWrap.dataList);
    					vm.tableData;
    				}
    			});
    	  },
    	  handleNodeClick(nodeData,node) {
    		  
    	  }
      }
    });

  </script>
</body>

</html>
