<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <template th:replace="/base.html"></template>
</head>

<body>
    <div id="app" style="height: 100%;width: 100%;" v-cloak>
        <ll-container style="height: 100%; ">
            <ll-aside width="200px" style="border-right:1px solid #eee;">
                <ll-card class="box-card" style="height:100%;">
                    <ll-tree-zz :items="dataTree" :props="defaultProps" :datasource="datasource" accordion @node-click="handleNodeClick">
                    </ll-tree-zz>
                </ll-card>
            </ll-aside>
            <ll-container style="height: 100%; ">
                <ll-header height="40">
                    <ll-card class="box-card">
                        <div slot="header" class="clearfix">
                            <span class="ll-main-span">查询条件</span>
                        </div>
                        <ll-form :model="menuForm" :status-icon="true"  ref="menuForm" label-width="100px"
                            style="width:100%">
                            <ll-col :span="8">
                                <ll-form-item label="菜单名称" prop="name">
                                    <ll-input v-model="menuForm.name"></ll-input>
                                </ll-form-item>
                            </ll-col>
                            <ll-col :span="8">
                               <ll-form-item>
                                <ll-button type="primary" size="mini" @click="retrieve">查询</ll-button>
                               </ll-form-item>
                            </ll-col>
                        </ll-form>
                    </ll-card>
                </ll-header>
                <ll-container style="height: 100%; ">
                    <ll-main style="padding: 0 0 0 0px;" style="height: 100%; ">
                        <ll-card class="box-card" style="height:100%;">
                            <div slot="header" class="clearfix">
                                <ll-row>
                                    <ll-col :span="6">
                                        <span class="ll-main-span" style="marign-right:100px;">菜单列表</span>
                                    </ll-col>
                                    <ll-col :span="18" align="right">
                                        <ll-button type="primary" icon="el-icon-plus" circle size="mini" style="padding: 3px" @click="add"
                                            title="添加"></ll-button>
                                        <ll-button type="danger" icon="el-icon-delete" circle size="mini" style="padding: 3px" @click="del"
                                            title="删除"></ll-button>
                                        <ll-button type="success" icon="el-icon-check" circle size="mini" style="padding: 3px" @click="save"
                                            title="保存"></ll-button>
                                            
                                    </ll-col>
                                </ll-row>
                            </div>
                            <ll-table-zz :data-wrap="dataPacket" :readonly="false" 
                            		ref="tableMenu"
                            		@current-change="retrieve" 
                            		@row-dblclick="rowDblcick">
                                <ll-table-column-zz type="selection" :width="55">
                                </ll-table-column-zz>
                                <ll-table-column-zz type="switch" prop="enable" label="启用" :width="80">
                                	<!-- <template slot-scope="scope">
                                		<ll-switch
                                		  v-model="scope.row.enable"
										  active-color="#13ce66"
										  active-value="1"
    									  inactive-value="0"
										  inactive-color="#ff4949">
										</ll-switch>
							      </template> -->
                                </ll-table-column-zz>
                                <ll-table-column-zz prop="id" label="菜单标识" :width="180">
                                </ll-table-column-zz>
                                <ll-table-column-zz prop="name" label="菜单名称" :width="180">
                                </ll-table-column-zz>
                                <ll-table-column-zz prop="sn" label="菜单排序" :width="180">
                                </ll-table-column-zz>
                                <ll-table-column-zz prop="link" label="菜单链接" :width="280">
                                </ll-table-column-zz>
                            </ll-table-zz>
                        </ll-card>
                    </ll-main>
                </ll-container>
            </ll-container>
        </ll-container>
    </div>

    <script type="text/javascript">
        var dataPacket = ajaxResponse.get("dataPacket");

        var vm = new Vue({
            el: '#app',
            data: {
                dataPacket: dataPacket,
                datasource: $$pageContextPath + "sys/menu-tree/menus",
                data: [],
                dataTree:null,
                defaultProps: {
                    children: 'children',
                    label: 'name',
                    isLeaf: 'isLeaf'
                },
                menuForm: {
                    name: '',
                },
            },
            methods: {
                retrieve:function() {
                	var dataPacket=this.dataPacket;
                	if(dataPacket==null)
                		dataPacket=$.createAjaxDataPacket();
                	dataPacket.data=this.menuForm;
                    $.request({
                        url: $$pageContextPath + "sys/menu/retrieve",
                        data: {
                        	dataPacket:dataPacket
                        },
                        success: function (response) {
                            var dataPacket = response.get("dataPacket");
                            if (dataPacket == null || dataPacket.dataList == null || dataPacket.dataList.length ==
                                0)
                                vm.$alert("未查询到任何数据!");
                            vm.$set(vm.$data, "dataPacket", dataPacket);
                        }
                    });
                },
                handleNodeClick:function(nodeData, node) {
                	$.request({
                        url: $$pageContextPath + "sys/menu/retrieve",
                        type: "POST",
                        contentType: 'application/json;charset=UTF-8',
                        dataType: "json",
                        async: false,
                        data: {
                        	dataPacket:this.dataPacket,
                        	parentId:nodeData.nodeBean==null?0:nodeData.nodeBean.id
                        },
                        success: function (response) {
                            var dataPacket = response.get("dataPacket");
                            if (dataPacket == null || dataPacket.dataList == null || dataPacket.dataList.length ==0){
                            	$.msg('未查询到任何数据');
                            }
                            vm.$set(vm.$data, "dataPacket", dataPacket);
                        }
                    });
                },
                add:function(){
                	$.openDialog({
                		title : "维护菜单",
                		url : $$pageContextPath + '/sys/menu/menuDialog?aaa=2&testParam=321',
                		height:440,
                		width:630,
                		data : {
                		},
                		yes : function() {
                		},
                		cancel : function() {
                		}
                	});
                },
                rowDblcick:function(row){
                	var dataPacket=$.createAjaxDataPacket();
                	dataPacket.setData(row);
                	$.openDialog({
                		title : "维护菜单",
                		height:440,
                		width:630,
                		url : $$pageContextPath + '/sys/menu/menuDialog?aaa=2&testParam=321',
                		data : {
                			dataPacket:dataPacket,
                			type:"edit"
                		},
                		yes : function() {
                		},
                		cancel : function() {

                		}
                	});
                },
                del:function(){
                	$.confirm("确定删除吗?",function(){
                		var dataPacket=$.createAjaxDataPacket();
                    	var dataList = vm.$refs["tableMenu"].getSelectedRows();
                    	dataPacket.dataList=dataList;
                    	$.request({
                            url: $$pageContextPath + "sys/menu/delete",
                            data: {
                            	dataPacket:dataPacket,
                            },
                            success: function (response) {
                                $.success("删除成功");
                                vm.retrieve();
                            }
                        });
                	});
                	
                },
                save:function(){
                	var dataPacket=$.createAjaxDataPacket();
                	var dataList = vm.$refs["tableMenu"].getUpdatedRows();
                	dataPacket.dataList=dataList;
                	$.request({
                        url: $$pageContextPath + "sys/menu/save",
                        data: {
                        	dataPacket:dataPacket,
                        },
                        success: function (response) {
                            $.success("保存成功");
                            vm.retrieve();
                        }
                    });
                }
            }
        });
    </script>
</body>

</html>