<!-- 	/* 
	 * 创   建   人： 刘磊
	 * 
	 * 创   建   时   间 ： 2017-10-11 下午10:02:29
	 * 
	 * 类   说   明 ：
	 * 
	 * ******************修改日志***********************************
	 * 
	 * 修改人： 修改日期： 修改内容：
	 * 
	 * 修改人： 修改日期： 修改内容：
	*/ -->
<html xmlns:th="http://www.thymeleaf.org">
<head>
<template th:replace="/base.html"></template>

</head>
<body>
	<form>
		<ll:filllayout>
			<ll:fillareatb height="*">
				<ll:tree id="menuTree" showcheckbox="true" datasource="/template/sys/menu/menu-tree/datalist?isHasRoot=true"
					onload="treeOnLoad()" showLine="true"
				></ll:tree>
			</ll:fillareatb>
			<ll:fillareatb height="40" style="align:center">
				<ll:toolbar align="center">
					<button type="button" style="width: 70px;" class="btn btn-default btn-sm " onclick="onOk()">
						<span class="glyphicon glyphicon-ok ll_add_icon "></span> 确定
					</button>
				</ll:toolbar>
			</ll:fillareatb>
		</ll:filllayout>
	</form>
	<script type="text/javascript" th:insert="sys/rolw/bindMenuScript.js"></script>
</body>
</html>