<html xmlns:th="http://www.thymeleaf.org">
<head>
<template th:replace="/base.html"></template>

</head>
<body>
	<form style="width: 98%;">
		<ll:filllayout>
			<ll:fillareatb height="*">
				<ll:ajaxform id="ajaxform" cols="1" colproportion="1:5" showchanged="True">
					<ll:formfield id="cdmcId" title="菜单名称" field="name" placeholder="菜单名称" errmsg="菜单名称不能超过10" maxlen="10"></ll:formfield>
					<ll:formfield title="菜单链接" field="link" maxlen="200"></ll:formfield>
					<ll:formfield title="菜单序号" field="sn" validtype="int" errmsg="菜单序号必须为整数"></ll:formfield>
					<ll:forminputbutton id="inpbtn_sjcdbs" title="上级菜单" field="parentId" onclick="selectParent()"
						labelprovider="sys/menu/getMenuName"
					></ll:forminputbutton>
				</ll:ajaxform>
			</ll:fillareatb>
			<ll:fillareatb height="40">
				<ll:toolbar align="center">
					<!-- <input type="button" value="test" onclick="clicktest()"/>
					<input type="button" value="delete" onclick="clickDelete()"/> -->
					<button type="button" style="width: 70px;" class="btn btn-default btn-sm ll-main" onclick="onClickSave();">
						<span class="glyphicon glyphicon-ok "></span> 保存
					</button>
				</ll:toolbar>
			</ll:fillareatb>
		</ll:filllayout>
	</form>
	<script type="text/javascript" th:insert="/sys/menu/menuDialogScript.js"></script>
</body>