<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="utf-8">
  <template  th:replace="/base.html"></template>
  <title>vueplugin2</title>
  <!-- <script src="../node_modules/vue/dist/vue.js"></script>
  <script src="../dist/vueplugins.js"></script>
  <link href="../src/lib/css/base.css"> -->
  </link>
</head>

<body>
  <div id="app" style="height: 100%;width: 100%;">
    <ll-container style="height: 100%; ">
      <ll-header style="background-color:#eee;">Header</ll-header>
      <ll-container>
        <ll-aside width="200px">
          <ll-nav-menu :items="items"  style="height: 100%;width: 199px;" mode="horizontal" background-color="#545c64"
            text-color="#fff"></ll-nav-menu>
        </ll-aside>
        <ll-main style="padding: 0 0 0 0px;">
          <ll-tabs v-model="activeTab" type="card" class="ll-tabs" @edit="handleTabsEdit">
            <ll-tab-pane :key="item.name" v-for="(item, index) in tabs" :label="item.title" :name="item.name" :closable="item.closable==null?false:item.closable"
              style="height: 100%;overflow: auto;">
              <iframe v-if="index==0" style="height: 100%;width: 100%;display:block" src="http://www.baidu.com" frameborder='0' th:src="@{/sys/index/main}"></iframe>
              <ll-table v-if="index==1" :data="tableData">
                <ll-table-column prop="date" label="日期" :width="180">
                </ll-table-column>
                <ll-table-column prop="name" label="姓名" :width="180">
                </ll-table-column>
                <ll-table-column prop="address" label="地址">
                </ll-table-column>
              </ll-table>
            </ll-tab-pane>
          </ll-tabs>
          <!-- <ll-tabs v-model="editableTabsValue2" :activeName="activeName" type="card" class="ll-tabs" closable @tab-remove="removeTab">
            <ll-tab-pane label="消息中心" >消息中心</ll-tab-pane>
            <ll-tab-pane label="表格" closable >
              <ll-table :data="tableData">
                <ll-table-column prop="date" label="日期" :width="180">
                </ll-table-column>
                <ll-table-column prop="name" label="姓名" :width="180">
                </ll-table-column>
                <ll-table-column prop="address" label="地址">
                </ll-table-column>
              </ll-table>
            </ll-tab-pane>
          </ll-tabs> -->
        </ll-main>
      </ll-container>
      <ll-footer style="height: 25px;">997820126@qq.com</ll-footer>
    </ll-container>
  </div>

<script type="text/javascript" src="indexScript.js" th:include="indexScript.js">
	
</script>
</body>

</html>
