<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="utf-8">
  <title>vueplugin2</title>
  <script src="../node_modules/vue/dist/vue.js"></script>
  <script src="../dist/vueplugins.js"></script>
  <link href="../src/lib/css/base.css">
  </link>
</head>

<body>
  <div id="app" style="height: 100%;width: 100%;">
    <ll-nav-tree :items="data" :props="defaultProps" :datasource="datasource" accordion @node-click="handleNodeClick">
    </ll-nav-tree>
  </div>
</body>
<script type="text/javascript">
   
  var vm=new Vue({
    el: '#app',
    data: {
        datasource:"http://localhost:8083/web/sys/menu/menu-tree/datalist",
        data: [{
          name: '一级 1',
          children: [{
            name: '二级 1-1',
            children: [{
              name: '三级 1-1-1'
            }]
          }]
        }, {
          name: '一级 2',
          children: [{
            name: '二级 2-1',
            children: [{
              name: '三级 2-1-1'
            }]
          }, {
            name: '二级 2-2',
            children: [{
              name: '三级 2-2-1'
            }]
          }]
        }, {
          name: '一级 3',
          children: [{
            name: '二级 3-1',
            children: [{
              name: '三级 3-1-1'
            }]
          }, {
            name: '二级 3-2',
            children: [{
              name: '三级 3-2-1'
            }]
          }]
        }],
        defaultProps: {
          children: 'children',
          label: 'name'
        }
    },
    methods: {
      handleNodeClick(nodeData,node) {
        // this.$request.request({
        //   url:"http://localhost:8083/web/sys/menu/menu-tree/datalist",
        //   params:{
        //     code:0
        //   },
        //   body:{
        //     code:0
        //   }
        // },function(response){
        //   //vm.$set(nodeData,"children",response.body);
          
        // },function(response){

        // })
      }
    }
  })
</script>
</html>
