<!-- 	/* 
	 * 创   建   人： 刘磊
	 * 
	 * 创   建   时   间 ： 2017-10-11 下午10:02:29
	 * 
	 * 类   说   明 ：
	 * 
	 * ******************修改日志***********************************
	 * 
	 * 修改人： 修改日期： 修改内容：
	 * 
	 * 修改人： 修改日期： 修改内容：
	*/ -->
<html xmlns:th="http://www.thymeleaf.org">
<head>
<template th:replace="/base.html"></template>
</head>
<body>
	<form>
		<ll:filllayout>
			<ll:fillarealr width="*">
				<ll:filllayout>
					<ll:fillareatb height="85" showtitle="true" title="查询条件"
						showborder="false">
						<ll:ajaxform id="ajaxform" cols="3" colproportion="2:3:2:3:1:3:1:3">
							<ll:formfield title="工作单编号" field="worksheetNo"></ll:formfield>
							<ll:formfield  title="工作单名称" field="name"></ll:formfield>
							<ll:formtoolbar labelalign="right" colspan="1">
								<button class="btn btn-info btn-sm ll-main" type="button"
									onclick="retrieve()" style="width: 100px;">
									<span class="glyphicon glyphicon-search "></span> 查询
								</button>
							</ll:formtoolbar>
						</ll:ajaxform>
					</ll:fillareatb>
					<ll:fillareatb height="*" >
						<ll:ajaxgrid id="ajaxgrid" onpageclick="retrieve()">
							<ll:gridcheck></ll:gridcheck>
							<ll:gridselect field="state" readonly="true" width="150" title="当前环节" dropname="WorksheetState"></ll:gridselect>
							<ll:gridcustom align="center" width="80" title="流程图"
								formatter="imageCustomer()"></ll:gridcustom>
							<ll:gridcustom align="center" width="150" title="工作单编号"
								formatter="sheetCustomer"></ll:gridcustom>
							<ll:gridfield field="name" width="150" title="工作单名称"></ll:gridfield>
							<ll:gridfield field="state" width="150" title="状态"></ll:gridfield>
							<ll:gridfield field="name" width="150" title="当前环节"></ll:gridfield>
							<ll:gridfield field="createUser" width="150" title="创建人"></ll:gridfield>
							<ll:gridfield field="createTime" width="150" title="创建时间"></ll:gridfield>
							<ll:gridfield field="name" width="150" title="备注"></ll:gridfield>
						</ll:ajaxgrid>
					</ll:fillareatb>
				</ll:filllayout>
			</ll:fillarealr>
		</ll:filllayout>
	</form>
	<script type="text/javascript" th:include="/sys/worksheet/worksheetQueryScript.js"></script>
</body>
</html>