<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <template th:replace="/base.html"></template>
</head>

<body>
    <div id="app" style="height: 100%;width: 100%;">
        <ll-container style="height: 100%; ">
            <ll-main style="padding: 0 0 0 0px;" style="height: 100%; ">
                <ll-form id="ajaxform" cols="1" colproportion="1:5" showchanged="True" label-width="100px" style="width:80%;">
                    <ll-form-item label="名称">
                        <ll-input v-model="form.name"></ll-input>
                    </ll-form-item>
                    <ll-form-item label="链接">
                        <ll-input v-model="form.link"></ll-input>
                    </ll-form-item>
                    <ll-form-item label="序号">
                        <ll-input v-model="form.sn"></ll-input>
                    </ll-form-item>
                    <ll-form-item label="图标">
                        <ll-input v-model="form.icon"></ll-input>
                    </ll-form-item>
                    <ll-form-item label="上级菜单">
                        <ll-drop-tree-zz :datasource="datasource" :label-datasource="labelDatasource" v-model="form.parentId"></ll-drop-tree-zz>
                    </ll-form-item>
                    <ll-form-item label="开启">
                        <ll-switch v-model="form.enable" active-value="1" inactive-value="0"></ll-switch>
                    </ll-form-item>
                </ll-form>
            </ll-main>
            <ll-footer>
            	<ll-form id="ajaxform" cols="1" colproportion="1:5" showchanged="True" label-width="100px" style="width:60%;">
            		<ll-form-item>
					   <ll-button type="primary" @click="save">保存</ll-button>
				  	   <ll-button type="text" @click="reset">重置</ll-button>
				  </ll-form-item>
            	</ll-form>
            </ll-footer>
        </ll-container>
    </div>
    <script type="text/javascript">
        var type = ajaxResponse.get("type");
        
        var formData={
            name: '',
            link: '',
            sn: '',
            icon:'',
            parentId: '',
            enable:"1"
        };
        if(type=="edit"){
        	var dataWrap = ajaxResponse.get("dataWrap");
        	formData=dataWrap.data;
        }
        	
        var vm = new Vue({
            el: '#app',
            data: {
                form: formData,
                datasource: $$pageContextPath + "sys/menu-tree/menus",
                labelDatasource: $$pageContextPath + "sys/menu/label",
            },
            methods:{
            	save : function(){
            		var dataWrap=$.createAjaxDataWrap();
                	dataWrap.setData(vm.form);
                	$.request({
                        url: $$pageContextPath + "sys/menu/add",
                        data: {
                        	dataWrap:dataWrap,
                        },
                        success: function (response) {
                            $.success("保存成功");
                        }
                    });
            	},
            	reset:function(){
            		$.openDialog({
                		title : "维护菜单",
                		url : $$pageContextPath + '/sys/menu/menuDialog?aaa=2&testParam=321',
                		data : {
                			
                		},
                		yes : function() {
                		},
                		cancel : function() {

                		}
                	});
            	}
            }
        });
    </script>
</body>