<!-- 	/* 
	 * 创   建   人： 刘磊
	 * 
	 * 创   建   时   间 ： 2017-10-11 下午10:02:29
	 * 
	 * 类   说   明 ：
	 * 
	 * ******************修改日志***********************************
	 * 
	 * 修改人： 修改日期： 修改内容：
	 * 
	 * 修改人： 修改日期： 修改内容：
	*/ -->
<html xmlns:th="http://www.thymeleaf.org">
<head>
<template th:replace="/base.html"></template>
</head>
<body>
	<form style="width: 98%;">
		<ll:filllayout>
			<ll:fillareatb height="*">
				<ll:ajaxform id="ajaxform" cols="1" colproportion="1:5" showchanged="True">
					<ll:formfield title="模型名称" required="true" field="key"></ll:formfield>
					<ll:formfield title="模型标识" required="true" field="name"></ll:formfield>
					<ll:formfield title="模型描述" required="true" field="description"></ll:formfield>
				</ll:ajaxform>
			</ll:fillareatb>
			<ll:fillareatb height="40">
				<ll:toolbar align="center">
					<button type="button" style="width: 100px;" class="btn btn-default btn-sm ll-main" onclick="onClickSave();">
						<span class="glyphicon glyphicon-ok "></span> 保存
					</button>
				</ll:toolbar>
			</ll:fillareatb>
		</ll:filllayout>
		<script type="text/javascript" th:include="model/modelDialogScript.js"></script>
	</form>
</body>