<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <template th:replace="/base.html"></template>
</head>

<body>
    <div id="app" style="height: 100%;width: 100%;" v-cloak>
         <ll-container style="height: 100%; ">
            <ll-main style="padding: 0 0 0 0px;" style="height: 100%; ">
    	<ll-form label-width="100px" style="width:40%;">
             <ll-form-item label="名称">
                 <ll-input v-model="form.name"></ll-input>
             </ll-form-item>
             <ll-form-item label="登录账号">
                 <ll-input v-model="form.loginAccountNo"></ll-input>
             </ll-form-item>
             <ll-form-item label="头像">
             	<img style="width:100px;height:100px;" :src="iconUrl" />
                 <ll-upload
				  class="upload-demo"
				  :action="uploadUrl"
				  :on-preview="handlePreview"
				  :on-remove="handleRemove"
				  ref="upload"
				  :before-remove="beforeRemove"
				  multiple
				  :limit="3"
				  :on-exceed="handleExceed"
				  :on-success="uploadSuccess"
				  :file-list="fileList">
				  <ll-button size="small" type="primary">点击上传</ll-button>
				  <div slot="tip" class="el-upload__tip">只能上传jpg/png文件，且不超过500kb</div>
				</ll-upload>
             </ll-form-item>
             <ll-form-item label="密码">
                 <ll-input v-model="form.loginPassword"></ll-input>
             </ll-form-item>
             <ll-form-item label="性别">
             		<ll-radio v-model="form.gender" label="1">男</ll-radio>
  					<ll-radio v-model="form.gender" label="0">女</ll-radio>
             </ll-form-item>
             <ll-form-item label="地址">
                 <ll-input v-model="form.address"></ll-input>
             </ll-form-item>
             <ll-form-item label="开启">
                 <ll-switch v-model="form.enable" active-value="1" inactive-value="0"></ll-switch>
             </ll-form-item>
             <ll-form-item label="备注">
                 <ll-input v-model="form.remark" type="textarea" :autosize="{ minRows: 3, maxRows: 4}"></ll-input>
             </ll-form-item>
            </ll-form>
            </ll-main>
            <ll-footer>
            	<ll-form label-width="100px" style="width:60%;">
            		<ll-form-item>
					   <ll-button type="primary" @click="save">保存</ll-button>
				  </ll-form-item>
            	</ll-form>
            </ll-footer>
        </ll-container>
    </div>

    <script type="text/javascript">
        var dataPacket = ajaxResponse.get("dataPacket");
        var pageType = ajaxResponse.get("pageType");
        var formData;
        if(pageType=="modify"){
        	if(dataPacket!=null)
        		formData=dataPacket.data;
        }
        else{
        	formData={
               enable:"1",
               gender:"1"
            };
        }
        var vm = new Vue({
            el: '#app',
            data: {
            	uploadUrl: $$pageContextPath + "/sys/file/upload",
                form: formData,
                iconUrl:"",
                fileList: []
            },
            methods: {
            	handleRemove:function(file, fileList) {
                  console.log(file, fileList);
                },
                handlePreview:function(file) {
                  console.log(file);
                },
                handleExceed:function(files, fileList) {
                	$.alert('当前限制选择 3 个文件，本次选择了 '+files.length+' 个文件，共选择了'+files.length + fileList.length+' 个文件');
                },
                beforeRemove:function(file, fileList) {
                  return this.$confirm('确定移除'+ file.name +'？');
                },
                uploadSuccess:function(response, file, fileList){
                	var menuId = response.parameterMap.file.id;
					vm.iconUrl = $$pageContextPath + "sys/file/download/"+menuId;
                },
                save:function(){
                	var addDataPacket = $.createAjaxDataPacket();
                    var updateDataPacket = $.createAjaxDataPacket();
                    var addDataList = this.$refs.tableAdmin.getAddedRows();
                    var updateDataList = this.$refs.tableAdmin.getUpdatedRows();
                    addDataPacket.dataList = addDataList;
                    updateDataPacket.dataList = updateDataList;
                	$.request({
                        url: $$pageContextPath + "sys/admin/save",
                        data: {
                        	addDataPacket: addDataPacket,
                        	updateDataPacket: updateDataPacket
                        },
                        success: function (response) {
                            $.success("保存成功");
                            var currentTreeNode = vm.$refs.depTree.getCurrentNode();
                            if(currentTreeNode != null)
                            	vm.handleNodeClick(currentTreeNode);
                            else
                            	vm.retrieve();
                        }
                    });
                },
                showBindRolesDialog:function(row){
                },
            }
        });
    </script>
</body>

</html>