
.span9 a:hover {
    text-decoration: none;
    color: #ff0000;
    background: transparent;
    border-bottom: 1px solid #ff0000;
}
.span9 a:link, .span9 a:visited {
    text-decoration: none;
    color: #900b09;
    background: transparent;
    border-bottom: 1px solid #900b09;
}
.span9 .h1{
	border:0px solid #00F;
	border-left:5px solid #009688;
	height:50px;
	line-height:50px;
	padding-left:5px;
	font-size:30px;
	font-weight:bold;
	background-color:#F9FAFC;
	margin-top:20px;
}
.span9 .h2{
	border:0px solid #00F;
	line-height:30px;
	padding-left:15px;
	background-color:#F9FAFC;
	margin-top:20px;
	padding-bottom:15px;
}
.span9 .property{
	line-height:30px;
	font-size:16px;
	font-weight:bold;
}
.span9 .content{
	margin-left:20px;
}
.span9 table.dataintable {
    margin-top: 15px;
    border-collapse: collapse;
    border: 1px solid #aaa;
    min-width: 600px;
    margin-left:20px;
    width:90%;
}
.span9 tbody {
    display: table-row-group;
    vertical-align: middle;
    border-color: inherit;
}
.span9 table.dataintable tr:nth-child(odd) {
    background-color: #F9FAFC;
}
.span9 table.dataintable td {
    vertical-align: text-top;
    padding: 6px 15px 6px 6px;
    border: 1px solid #aaa;
}
.span9 table.dataintable th {
    vertical-align: baseline;
    padding: 5px 15px 5px 6px;
    background-color: #3F3F3F;
    border: 1px solid #3F3F3F;
    text-align: left;
    color: #fff;
}
.nav-list li a{
	padding-left:5px;
}
 iframe {
    width: 100%;
    border: 0;
    height: 100%;
}

.ahover{
	color: #20a0ff;
}
.row{
	width:1200px;
}