<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>vueplugin2</title>
  <script src="./node_modules/vue/dist/vue.js"></script>
  <script src="/dist/vueplugins.js"></script>
  <!-- <link href="./src/lib/css/base.css"> -->
  </link>
</head>

<body>
  <div id="app" style="height: 100%;width: 100%;">
      
    <ll-container style="height: 100%; ">
      <ll-header style="background-color:#eee;">
        <ll-radio-group v-model="isCollapse" style="margin-bottom: 20px;">
          <ll-radio-button :label="false">展开</ll-radio-button>
          <ll-radio-button :label="true">收起</ll-radio-button>
        </ll-radio-group>
      </ll-header>
      <ll-container>
        <ll-aside :width="style.asideWidth" style="background-color:#19233C">

          <ll-menu-zz :items="items" @select="menuSelect" :collapse="isCollapse" :props="menuProp" :style="{width: style.asideWidth}"
            background-color="#19233C" mode="vertical" text-color="#fff"></ll-menu-zz>
        </ll-aside>
        <ll-main style="padding: 0 0 0 0px;">
          <ll-tabs v-model="activeTab" type="card" class="ll-tabs" @edit="handleTabsEdit">
            <ll-tab-pane :key="item.name" v-for="(item, index) in tabs" :label="item.title" :name="item.name" :closable="item.closable==null?false:item.closable"
              style="height: 100%;overflow: auto;">
              <template slot="label">
                <span @contextmenu.prevent="rightClick($event)" style="position:relative;line-height: 40px;display:inline-block;">{{item.title}}</span>
              </template>
              <iframe style="height: 100%;width: 100%;display:block" :src="item.link" frameborder='0' th:src="@{/sys/index/main}"></iframe>
            </ll-tab-pane>
          </ll-tabs>
        </ll-main>
      </ll-container>
      <ll-footer style="height: 25px;">997820126@qq.com</ll-footer>
    </ll-container>
    <div style="z-index:100;position:absolute;padding:20px;" :style="{left:menuX+'px',top:menuY+'px'}" v-show="rightMenuVisible" @mouseleave ="rightMenuVisible=false;">
        <ll-menu default-active="2"  
        background-color="#545c64"
          text-color="#fff"
          active-text-color="#ffd04b">
            <ll-menu-item index="2">
              <i class="el-icon-menu"></i>
              <span slot="title">关闭当前</span>
            </ll-menu-item>
            <ll-menu-item index="3" disabled>
              <i class="el-icon-document"></i>
              <span slot="title">关闭右侧</span>
            </ll-menu-item>
            <ll-menu-item index="4">
              <i class="el-icon-setting"></i>
              <span slot="title">关闭所有</span>
            </ll-menu-item>
          </ll-menu>
    </div>
  </div>

  <script type="text/javascript">
    new Vue({
      el: '#app',
      methods: {
        rightClick(eve) {
          this.menuX=eve.clientX-20;
          this.menuY=eve.clientY-20;
          this.rightMenuVisible = true;
        },
        menuSelect(index, indexPath, item) {
          if (!this.tabs.find(a => a.name == item.label))
            this.tabs.push({
              name: item.label,
              title: item.label,
            });
        },
        handleOpen(key, keyPath) {
          console.log(key, keyPath);
        },
        handleClose(key, keyPath) {
          console.log(key, keyPath);
        },
        handleTabsEdit(targetName, action) {
          if (action === 'add') {
            let newTabName = ++this.tabIndex + '';
            this.editableTabs.push({
              title: 'New Tab',
              name: newTabName,
              content: 'New Tab content'
            });
            this.activeTab = newTabName;
          }
          if (action === 'remove') {
            let tabs = this.tabs;
            let activeName = this.activeTab;
            if (activeName === targetName) {
              tabs.forEach((tab, index) => {
                if (tab.name === targetName) {
                  let nextTab = tabs[index + 1] || tabs[index - 1];
                  if (nextTab) {
                    activeName = nextTab.name;
                  }
                }
              });
            }

            this.activeTab = activeName;
            this.tabs = tabs.filter(tab => tab.name !== targetName);
          }
        }
      },
      data: {
        activeTab: "表格测试",
        isCollapse: false,
        rightMenuVisible: false,
        menuX:0,
        menuY:0,
        tabs: [{
            name: "表格测试",
            title: "表格测试",
            link: "./src/templates/testTable.html"
          },
          {
            name: "树测试",
            title: "树测试",
            link: "./src/templates/testTree.html"
          },
          {
            name: "表单测试",
            title: "表单测试",
            link: "./src/templates/testForm.html"
          },
          {
            name: "折叠面板测试",
            title: "折叠面板测试",
            link: "./src/templates/testCollapse.html"
          },
          {
            name: "级联下拉弹窗",
            title: "级联下拉弹窗测试",
            link: "./src/templates/testCascader.html"
          },
          {
            name: "下拉树",
            title: "下拉树测试",
            link: "./src/templates/testDropTree.html"
          }
        ],
        menuProp: {
          id: "value",
          label: "label",
          children: "children",
          icon: "icon"
        },

        items: [{
          value: "1",
          label: "系统管理",
          icon: "el-icon-menu",
          children: [{
            value: "1-1",
            label: "菜单维护",
            icon: "el-icon-document",
            children: [{
                value: "1-1-1",
                label: "菜单查询",
                icon: "el-icon-setting",
                children: []
              },

              {
                value: "1-1-2",
                label: "菜单查询",
                icon: "el-icon-setting",
                children: []
              }
            ]
          }]
        }, {
          value: "2",
          label: "工作单管理",
          icon: "el-icon-document",
          children: []
        }],
        style: {
          asideWidth: "200px"
        }
      },
      watch: {
        isCollapse(newVal, oldVal) {
          if (newVal) {
            this.style.asideWidth = "0px";
          } else {
            this.style.asideWidth = "200px";
          }
        }
      }
    })

  </script>
</body>

</html>
