<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>vueplugin2</title>
  <script src="./node_modules/vue/dist/vue.js"></script>
  <script src="/dist/vueplugins.js"></script>
  <!-- <link href="./src/lib/css/base.css"> -->
  </link>
</head>

<body>
  <div id="app" style="height: 100%;width: 100%;">
    <ll-container style="height: 100%; ">
      <ll-header style="background-color:#eee;">Header</ll-header>
      <ll-container>
        <ll-aside width="200px" style="background-color:#272b2e">
          <ll-nav-menu :items="items" @select="menuSelect" :props="menuProp" style="width: 200px;"  background-color="#272b2e"
            text-color="#fff"></ll-nav-menu>
        </ll-aside>
        <ll-main style="padding: 0 0 0 0px;">
          <ll-tabs v-model="activeTab" type="card" class="ll-tabs" @edit="handleTabsEdit">
            <ll-tab-pane :key="item.name" v-for="(item, index) in tabs" :label="item.title" :name="item.name" :closable="item.closable==null?false:item.closable"
              style="height: 100%;overflow: auto;">
                <iframe style="height: 100%;width: 100%;display:block" :src="item.link" frameborder='0' th:src="@{/sys/index/main}"></iframe>
            </ll-tab-pane>
          </ll-tabs>
        </ll-main>
      </ll-container>
      <ll-footer style="height: 25px;">997820126@qq.com</ll-footer>
    </ll-container>
  </div>

  <script type="text/javascript">
    new Vue({
      el: '#app',
      methods: {
        menuSelect(index, indexPath, item){
          if(!this.tabs.find(a=>a.name==item.label))
          this.tabs.push({
            name: item.label,
            title: item.label,
          });
        },
        handleOpen(key, keyPath) {
          console.log(key, keyPath);
        },
        handleClose(key, keyPath) {
          console.log(key, keyPath);
        },
        handleTabsEdit(targetName, action) {
          if (action === 'add') {
            let newTabName = ++this.tabIndex + '';
            this.editableTabs.push({
              title: 'New Tab',
              name: newTabName,
              content: 'New Tab content'
            });
            this.activeTab = newTabName;
          }
          if (action === 'remove') {
            let tabs = this.tabs;
            let activeName = this.activeTab;
            if (activeName === targetName) {
              tabs.forEach((tab, index) => {
                if (tab.name === targetName) {
                  let nextTab = tabs[index + 1] || tabs[index - 1];
                  if (nextTab) {
                    activeName = nextTab.name;
                  }
                }
              });
            }

            this.activeTab = activeName;
            this.tabs = tabs.filter(tab => tab.name !== targetName);
          }
        }
      },
      data: {
        activeTab: "表格测试",
        isCollapse: true,
        tabs: [{
          name: "表格测试",
          title: "表格测试",
          link:"./src/templates/testTable.html"
        },
        {
          name: "树测试",
          title: "树测试",
          link:"./src/templates/testTree.html"
        },
        {
          name: "表单测试",
          title: "表单测试",
          link:"./src/templates/testForm.html"
        }],
        menuProp:{
          id:"value",
          label:"label",
          children:"children",
          icon:"icon"
        },
          
        items: [{
          value: "1",
          label: "系统管理",
          icon: "el-icon-menu",
          children: [{
            value: "1-1",
            label: "菜单维护",
            icon: "el-icon-document",
            children: [{
              value: "1-1-1",
              label: "菜单查询",
              icon: "el-icon-setting",
              children: []
            },
            
            {
              value: "1-1-2",
              label: "菜单查询",
              icon: "el-icon-setting",
              children: []
            }]
          }]
        }, {
          value: "2",
          label: "工作单管理",
          icon: "el-icon-document",
          children: []
        }]
      },
    })
  </script>
</body>

</html>
